* {
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0%;
	/* padding: 1%; */
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1.3em;
	/* overflow: hidden; */
}

nav ul {
	text-align: end;
}

nav ul li {
	list-style-type: none;
	display: inline;
}

.ifr {
	min-height: 50vh;
	/* height: 100%; */
	width: 100%;
	border: 1px solid black;
	overflow: hidden;
	padding: 0%;
	margin: 0%;
}

#home {
	/* border: 1px solid red; */
	font-family: "Times New Roman", Times, serif;
	color: #12f;
	/* background-color: #00204a; */
	width: 100%;
	/* height: 100vh; */
	background-image: url(../pic/img1.jpg);
	background-size: cover;
	background-repeat: round;
}

#about {
	min-height: 40vh;
	/* border: 1px solid red; */
	/* background-color: yellowgreen; */
}
#services {
	/* border: 1px solid red; */
	background-color: #d3d3d3;
}
#portfolio {
	/* border: 1px solid red; */
	/* background-color: lightsalmon; */
	display: grid;
	justify-items: center;
}

#team {
	/* border: 1px solid red; */
	/* background-color: lightseagreen; */
}

figure > img {
	width: 100px;
	height: 100px;
}

#career {
	/* border: 1px solid red; */
	/* background-color: cornflowerblue; */
}

#contact {
	/* border: 1px solid red; */
	/* background-color: steelblue; */
	display: grid;
	justify-content: center;
	justify-items: center;
	grid-auto-columns: 80%;
}

#faq {
	padding: 1%;
	border: 1px solid red;
	min-height: 60vh;
	/* background-color: teal; */
	display: flex;
	flex-direction: column;
	/* justify-items: start; */
}

.faq_line {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-items: center;
	text-align: left;
	width: 100%;
	/* margin-left: 30%; */
}

.boxes {
	display: flex;
	justify-content: space-evenly;
	/* border: 1px solid black; */
}

.img2 {
	background-image: url(../pic/img2.jpg);
	background-size: cover;
	/* background-position:; */
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #fff;
}

figure {
	/* border: 1px solid black; */
}

.people-swipe {
	width: 60%;
	column-gap: 10%;
	justify-content: flex-start;
	overflow-x: scroll;
}

.gallery {
	width: 50%;
	display: flex;
	gap: 5%;
	/* border: 1px solid black; */
	overflow-x: scroll;
}

.media img {
	width: 3vw;
	height: 5vh;
}

.container {
	/* border: 1px solid black; */
	display: flex;
	height: max-content;
	width: 100%;
	justify-content: space-evenly;
}

.col1 {
	width: 48%;
	overflow: hidden;
}

.col2 {
	width: 48%;
	/* border: 2px solid red; */
}

.col2 form {
	display: grid;
	row-gap: 3%;
}

.input-form {
	padding: 2% 0% 2% 5%;
	/* border-radius: 20px; */
}
.button-form {
	width: 40%;
}

#footer-section {
	display: grid;
	grid-template-columns: 20% 20% 20% 25%;
	/* column-gap: 2%; */
	/* over */
	/* height: 100%; */
	padding: 1%;
	width: 100%;
	/* margin: 10%; */
	justify-items: flex-start;
	/* text-justify: ; */
	/* justify-self: space; */
	justify-content: space-between;
	border: 1px solid black;
}

.links {
	height: 100%;
	/* border: 2px solid black; */
	text-align: left;
}

.social-icons {
	height: 100%;
	/* border: 2px solid black; */
	display: flex;
	justify-content: space-evenly;
	margin: 0% 5% 0% 5%;
}

.social-icons img {
	height: 5%;
	width: 5%;
}

.links > form {
	border: 1px solid black;
	padding: 0%;
	margin: 0%;
	display: grid;
	grid-template-columns: 70% 30%;
	/* justi; */
}
