* {
	margin: 0;
	padding: 0;
}

/* i {
	height: 20px;
	width: 20px;
} */
nav ul {
}

nav ul li {
	list-style-type: none;
	display: inline;
}

header {
	font-family: "Times New Roman", Times, serif;
	color: #fff;
	background-color: #00204a;
	background-image: url(../images/expect-best-351263.jpg);
	width: 100%;
}
