<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>IT Company Website</title>
		<link rel="stylesheet" href="css/style.css" />
		<!-- <link
			rel="stylesheet"
			href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
		<link
			rel="stylesheet"
			href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css" />
		<link
			rel="stylesheet"
			href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" /> -->
	</head>
	<body>
		<header id="home">
			<nav>
				<ul>
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#team">Team</a></li>
					<li><a href="#career">Career</a></li>
					<li><a href="#contact">Contact</a></li>
					<li><a href="#faq">FAQ</a></li>
				</ul>
			</nav>
			<div>
				<h2>Bring your Business Online</h2>
				<h3>With IT Company Services</h3>
			</div>
		</header>
		<section id="about">
			<h1>About Us</h1>
			<h3>We Make Creativity Work For Your Brand!</h3>
			Ours Is A Team Of Creatives That Is Brainstorming On Great Ideas,
			<strong> All. The. Time. </strong>
			With Our Skills Put Together, You Get An Ensemble Capable Of Doing
			Anything And Everything Your Brand Needs.
			<button><a href="#home">Read More</a></button>
		</section>
		<section id="services">
			<h1>Our Services</h1>
			We Help You To Build High-Quality Digital Solutions And Products As Well
			As Deliver A Wide Range Of Related Professional Services. We Are Providing
			World-Class Service To Our Clients.

			<figure>
				<img
					src="https://img.icons8.com/ios-filled/100/google-code.png"
					alt="google-code" />
				<figcaption>Web App Development</figcaption>
				<p>
					Our Custom Web Development Services Include Both Front-End And
					Back-End Development. Whether It Is Enhancing An Existing App Or
					Architecting An Enterprise App, Our Developers Are Up For The
					Challenge.
				</p>
			</figure>
			<figure></figure>
			<figure></figure>
		</section>
		<section id="portfolio"></section>
		<section id="team"></section>
		<section id="career"></section>
		<section id="contact"></section>
		<section id="faq"></section>
	</body>
</html>
