* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
header {
	background-color: #b4ffd7;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.menu ul {
	display: flex;
	justify-content: space-around;
}
.menu ul li {
	padding: 10px;

	border-radius: 10px;
	background-color: #ca970b;
}
.menu ul li a {
	color: black;
}
.logo {
	order: 1;

	flex-grow: 1;
}
nav {
	order: 2;
	flex-grow: 2;
}
.social_links {
	order: 3;
	flex-grow: 1;
}

#main {
	height: 400px;

	display: flex;
	justify-content: center;
	width: 100%;
	margin: 20px 0px;
}
.content_left {
	/* flex-basis: 40%; */
}
.content_right {
	flex-basis: 50%;
	text-align: center;
}
.content_right p,
h2 {
	font-family: "Open Sans", sans-serif;
	line-height: 24px;
	font-weight: 400;
	font-style: normal;
	padding: 20px 10px;
}
#services {
	height: 500px;
	max-width: 100%;

	background-color: #f7f7f7;
}
#services h1 {
	text-align: center;
}
.service_heading {
	color: #ca970b;
	font-weight: 800;
	font-style: normal;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.main_services {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.services_offer {
	width: 30%;
	margin: 20px 0px;
	text-align: center;
	padding: 20px 0px;
	border: solid blueviolet 1px;
	background-color: #fff;
	margin-left: 25px;
}
.services_offer:hover {
	border: solid 1px #ca970b;
}
