<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<footer id="footer-section">
			<div class="links">
				<h1>About Us</h1>

				<ul>
					<li>Home</li>
					<li>About us</li>
					<li>Our services</li>
					<li>Terms & condition</li>
					<li>Privacy policy</li>
				</ul>
			</div>
			<div class="links">
				<h1>Useful Links</h1>
				<ul>
					<li>Portfolio</li>
					<li>Team</li>
					<li>Career</li>
					<li>Contact</li>
					<li>FAQ</li>
				</ul>
			</div>
			<div class="links">
				<h1>Contact Us</h1>
				<ul>
					<li>1300 Center Avenue Fresno, California United States</li>
					<li>Phone: +123-456-7890</li>
					<li>Email: info@example.com</li>
				</ul>
				<div>
					<div class="social-icons">
						<img
							width="144"
							height="144"
							src="https://img.icons8.com/badges/144/facebook-new.png"
							alt="facebook-new" />
						<img
							width="100"
							height="100"
							src="https://img.icons8.com/ios-filled/100/twitter.png"
							alt="twitter" />
						<img
							width="100"
							height="100"
							src="https://img.icons8.com/ios/100/instagram-new--v1.png"
							alt="instagram-new--v1" />
						<img
							width="100"
							height="100"
							src="https://img.icons8.com/ios-filled/100/linkedin.png"
							alt="linkedin" />
						<img
							width="150"
							height="150"
							src="https://img.icons8.com/clouds/150/google-logo.png"
							alt="google-logo" />
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
