body {
	margin: 1;
	padding: 5%;
	font-family: "Times New Roman", Times, serif;
	text-align: left;
}

table {
	border: 2px solid black;
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	border: 1px solid black;
}

.col1 {
	background-color: blueviolet;
}

.col2 {
	width: 100%;
	background-color: aquamarine;
}

img {
	align-items: right;
	border: 1px solid black;
	/* width: 50%; */
	text-align: right;
	align-self: right;
}
