<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>layout</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<!-- header sections -->
		<header>
			<img
				src="images/eva-bronzini-7661590.jpg"
				alt="images"
				width="100vw"
				height="100vh" />
			<h2>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, alias!
			</h2>
		</header>
		<!-- banner section -->
		<section id="banner">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta obcaecati
			explicabo exercitationem a aliquam quae neque? Amet architecto pariatur
			odio expedita, ipsa, voluptas a non beatae ad culpa, asperiores rem?
		</section>
		<section class="products">
			<div class="pdata">
				<img src="images/expect-best-351263.jpg" alt="images" height="200px" />
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="pdata">
				<img
					src="images/francesco-ungaro-1671484.jpg"
					alt="images"
					height="200px" />
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
			<div class="pdata">
				<img src="images/frank-cone-2235130.jpg" alt="images" height="200px" />
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
		</section>
	</body>
</html>
